<header class="bg-gray-900">
  <nav class="px-4 py-3.5 flex justify-between items-center">
    <ul class="flex gap-6 items-center">
      <li>
        <a
          class="text-gray-500 text-xl"
          routerLink="/"
          routerLinkActive="text-white"
          >Todo App</a
        >
      </li>
      @if(authService.authInfo().authToken) {
      <li>
        <a
          class="text-gray-400"
          routerLink="/todos"
          routerLinkActive="text-white"
          >Todos</a
        >
      </li>
      }
    </ul>
    <ul class="flex gap-6">
      @if(!authService.authInfo().authToken) {
      <li>
        <a
          class="text-gray-400"
          routerLink="/register"
          routerLinkActive="text-white"
          >Register</a
        >
      </li>
      <li>
        <a
          class="text-gray-400"
          routerLink="/login"
          routerLinkActive="text-white"
          >Login</a
        >
      </li>
      } @if(authService.authInfo().authToken) {
      <li>
        <button class="text-gray-400 cursor-pointer" (click)="logout()">
          Logout
        </button>
      </li>
      }
    </ul>
  </nav>
</header>

<router-outlet />
